/*If the browser screen width is greater than 1200 pixels, display the top-left image of k8em0.jpg
If the browser screen width is greater than 900 pixels but less than or equal to 1200 pixels, display the top-right image
If the browser screen width is greater than 600 pixels but less than or equal to 900 pixels, display the bottom-left image
If the browser screen width is less than or equal to 600 pixels, display the last image, bottom-right.
*/

@media (min-width: 1200px){
    .k8em0 {
        width: 600px;
        height: 600px;
        background:url(k8em0.jpg) 0 0px;
    }
}

@media (max-width: 1200px) {
    .k8em0 {
        width: 600px;
        height: 600px;
        background:url(k8em0.jpg)
        600px 0px;
    }
}

@media (max-width: 900px) {
    .k8em0 {
        width: 600px;
        height: 600px;
        background:url(k8em0.jpg) 0px 600px;
    }
}

@media only screen and (max-width: 600px) {
    .k8em0 {
        width: 600px;
        height: 600px;
        background:url(k8em0.jpg) 600px 600px;
    }
}
